Repository eclipse/smarthome, pull requests merged in 2018-11, with the labels that each got.

#6425 Remove old MDNS discovery results
  bundles/config/org.eclipse.smarthome.config.discovery.mdns/src/main/java/org/eclipse/smarthome/config/discovery/mdns/internal/MDNSDiscoveryService.java
Labels: Core

#6429 Made fields in AbstractRegistry private and added extra methods
  bundles/automation/org.eclipse.smarthome.automation.core/src/main/java/org/eclipse/smarthome/automation/core/internal/RuleRegistryImpl.java
  bundles/automation/org.eclipse.smarthome.automation.core/src/main/java/org/eclipse/smarthome/automation/core/internal/template/RuleTemplateRegistry.java
  bundles/automation/org.eclipse.smarthome.automation.core/src/main/java/org/eclipse/smarthome/automation/core/internal/type/ModuleTypeRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/link/ItemChannelLinkRegistry.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/common/registry/AbstractRegistry.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/MetadataRegistryImpl.java
Labels: APIBreaking, Core

#6433 Added null check to avoid possible NPE when createThing return null
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingRegistryImpl.java
Labels: Core

#6431 updates to the Onewire binding
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/device/DS2423Test.java
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/device/DS2438Test.java
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/owserver/OwserverConnectionTest.java
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/test/OwserverTestServer.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/ESH-INF/thing/common.xml
  extensions/binding/org.eclipse.smarthome.binding.onewire/ESH-INF/thing/counter.xml
  extensions/binding/org.eclipse.smarthome.binding.onewire/ESH-INF/thing/multisensor.xml
  extensions/binding/org.eclipse.smarthome.binding.onewire/README.md
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/DigitalIoConfig.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/OwBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/OwHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/AbstractDigitalOwDevice.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS18x20.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS2405.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS2406_DS2413.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS2408.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS2423.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS2438.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/OwDeviceParameter.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/OwDeviceParameterMap.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/OwSensorType.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/discovery/OwDiscoveryItem.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/discovery/OwDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/CounterSensorThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/MultisensorThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/OwBaseBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/OwBaseThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/OwserverBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/owserver/OwserverConnection.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/owserver/OwserverDeviceParameter.java
Labels: Binding-OneWire

#6452 [Homematic] BINRPC changed to XMLRPC protocol due to CCU firmware 3.41.x
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/AbstractHomematicGateway.java
Labels: Binding-Homematic

#6459 use safe caller for querying persistence service
  bundles/core/org.eclipse.smarthome.core.persistence/META-INF/MANIFEST.MF
  bundles/core/org.eclipse.smarthome.core.persistence/src/main/java/org/eclipse/smarthome/core/persistence/internal/PersistenceManagerImpl.java
Labels: Core

#4838 [SonyAudio]Sony Audio Control API
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/.classpath
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/.project
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/binding/binding.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/config/config.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/ht-ct800.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/ht-mt500.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/ht-st5000.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/ht-z9f-zf9.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/srs-zr5.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/str-dn1080.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/NOTICE
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/OSGI-INF/.gitignore
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/README.md
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/build.properties
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/SonyAudioBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/HtCt800Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/HtMt500Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/HtSt5000Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/HtZ9fHandler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/HtZf9Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/SonyAudioHandler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/SrsZr5Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/StrDn1080Handler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/SonyAudioEventListener.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/SonyAudioHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/discovery/SonyAudioDiscoveryParticipant.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/protocol/SonyAudioClientSocket.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/protocol/SonyAudioClientSocketEventListener.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/protocol/SonyAudioConnection.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/protocol/SonyAudioMethod.java
  extensions/binding/pom.xml
  features/karaf/esh-ext/src/main/feature/feature.xml
  features/org.eclipse.smarthome.feature.runtime.binding/feature.xml
Labels: New Contribution

#6463 Fix for VS Code when using Samba share.
  bundles/model/org.eclipse.smarthome.model.lsp/src/main/java/org/eclipse/smarthome/model/lsp/internal/MappingUriExtensions.java
Labels: DSL

#6413 [One-Wire] DS1923 support (second approach)
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/device/DS1923Test.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/README.md
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/OwBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/DS1923.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/OwSensorType.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/MultisensorThingHandler.java
Labels: Binding-OneWire

#6489 MQTT brokers: Rename channel types, use lowercase names. Fix heartbeat test
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/HomieThingHandlerTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/ThingChannelConstants.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/generic-thing.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/README.md
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/MqttBindingConstants.java
Labels: Binding-MQTT

#6499 [LIFX] Use light specific TemperatureRange with temperature channel calculations
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/LifxBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/handler/LifxLightHandler.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/LifxLightState.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/fields/HSBK.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/protocol/Product.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/util/LifxMessageUtil.java
Labels: Binding-LIFX

#6503 fix thing handler's "set callback" documentation
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/ThingHandler.java
Labels: Core

#6504 Console command and Paper UI support for Thing disabled feature
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManagerImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/console/ThingConsoleCommandExtension.java
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.rest.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/configuration.things.view.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.view.js
Labels: UI-PaperUI

#5694 [OpenWeatherMap] Initial contribution of OpenWeatherMap binding
  docs/_includes/documentation-menu.html
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/.classpath
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/.project
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/binding/binding.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/config/config.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/i18n/openweathermap.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/i18n/openweathermap_de.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/thing/bridge-types.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/thing/channel-types.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/NOTICE
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/OSGI-INF/.gitignore
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/README.md
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/build.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/OpenWeatherMapBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/config/OpenWeatherMapAPIConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/config/OpenWeatherMapLocationConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/config/OpenWeatherMapWeatherAndForecastConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/connection/OpenWeatherMapCommunicationException.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/connection/OpenWeatherMapConfigurationException.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/connection/OpenWeatherMapConnection.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/discovery/OpenWeatherMapDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/factory/OpenWeatherMapHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/AbstractOpenWeatherMapHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/OpenWeatherMapAPIHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/OpenWeatherMapWeatherAndForecastHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/OpenWeatherMapJsonDailyForecastData.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/OpenWeatherMapJsonHourlyForecastData.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/OpenWeatherMapJsonWeatherData.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/City.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Clouds.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Coord.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Rain.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Snow.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Weather.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/base/Wind.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/forecast/daily/List.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/forecast/daily/Temp.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/forecast/hourly/List.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/forecast/hourly/Main.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/forecast/hourly/Sys.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/weather/Main.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/weather/Sys.java
  extensions/binding/pom.xml
  features/karaf/esh-ext/src/main/feature/feature.xml
  features/org.eclipse.smarthome.feature.runtime.binding/feature.xml
Labels: Binding, New Contribution

#6523 Mqtt fixes
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homie300/Property.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/discovery/HomeAssistantDiscovery.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/discovery/Homie300Discovery.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelConfig.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelState.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelStateUpdateListener.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/AbstractMQTTThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ColorValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/NumberValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/OnOffValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/TextValue.java
Labels: Binding-MQTT

#6525 Added information to not use spaces in installpath when using windows to IDE Install Documentation
  docs/documentation/development/ide.md
Labels: Documentation

#6524 MQTT broker fixes
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/PublishTriggerChannel.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/PublishTriggerChannelConfig.java
Labels: Binding-MQTT

#6512 [homematic] Support QuantityType on NumberItems
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConvertFromBindingTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConvertToBindingTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConverterFactoryTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConverterFactory.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/converter/type/QuantityTypeConverter.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/type/MetadataUtils.java
Labels: Binding-Homematic

#6552 Support system trigger channels in Homie (closes #6542)
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/README.md
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homie300/Property.java
Labels: Binding-MQTT

#6562 Fix PaperUI item selection
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.js
Labels: UI-PaperUI

#6540 blukii: split handler and data decoding
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/handler/BlukiiHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/Accelerometer.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/BlukiiData.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/BlukiiDataDecoder.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/Environment.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/Magnetometer.java
Labels: Binding-Bluetooth

#6564 blukii: fix temperature decoding
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/BlukiiDataDecoder.java
Labels: Binding-Bluetooth

#6583 [LIFX] Fix IAE whenever light returns color temperature outside valid range
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/util/LifxMessageUtil.java
Labels: Binding-LIFX

#6556 Extract ItemBuilderFactory from ItemRegistry
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/internal/items/ItemBuilderTest.java
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/items/ItemRegistryImplTest.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemBuilderFactoryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/ItemBuilderFactory.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/ItemRegistry.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/dto/ItemDTOMapper.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResource.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
Labels: APIBreaking, Core

#4821 [Weather][MeteoBlue] MeteoBlue weather binding
  docs/_includes/documentation-menu.html
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/.classpath
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/.project
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/MeteoBlueOSGiTests.launch
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/build.properties
  extensions/binding/org.eclipse.smarthome.binding.meteoblue.test/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/.classpath
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/.project
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/ESH-INF/binding/binding.xml
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/ESH-INF/thing/bridge.xml
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/NOTICE
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/OSGI-INF/.gitignore
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/README.md
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/build.properties
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/MeteoBlueBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/handler/MeteoBlueBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/handler/MeteoBlueHandler.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/Forecast.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/MeteoBlueBridgeConfig.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/MeteoBlueConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/MeteoBlueHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/json/JsonData.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/json/JsonDataDay.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/json/JsonMetadata.java
  extensions/binding/org.eclipse.smarthome.binding.meteoblue/src/main/java/org/eclipse/smarthome/binding/meteoblue/internal/json/JsonUnits.java
  extensions/binding/pom.xml
  features/karaf/esh-ext/src/main/feature/feature.xml
  features/org.eclipse.smarthome.feature.runtime.binding/feature.xml
Labels: Binding, New Contribution

#6395 [DMX] new feature: dynamic turn-on value
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/ArtnetBridgeHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/ChaserThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/ColorThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/DimmerThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/DmxBridgeHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/Lib485BridgeHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/SacnBridgeHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/TunableWhiteThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/multiverse/DmxChannelTest.java
  extensions/binding/org.eclipse.smarthome.binding.dmx.test/src/test/java/org/eclipse/smarthome/binding/dmx/test/TestBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/ESH-INF/thing/color-thing.xml
  extensions/binding/org.eclipse.smarthome.binding.dmx/ESH-INF/thing/dimmer-thing.xml
  extensions/binding/org.eclipse.smarthome.binding.dmx/ESH-INF/thing/tunablewhite-thing.xml
  extensions/binding/org.eclipse.smarthome.binding.dmx/README.md
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/ArtnetBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/ChaserThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/ColorThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/DimmerThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/Lib485BridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/SacnBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/handler/TunableWhiteThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/DmxBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/DmxBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/DmxHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/ValueSet.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/action/ActionState.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/action/BaseAction.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/action/FadeAction.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/action/FadeDirection.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/action/ResumeAction.java
  extensions/binding/org.eclipse.smarthome.binding.dmx/src/main/java/org/eclipse/smarthome/binding/dmx/internal/multiverse/DmxChannel.java
Labels: Binding-DMX

#6588 [Core] used the shared threadpool for the shared client
  bundles/io/org.eclipse.smarthome.io.net/src/main/java/org/eclipse/smarthome/io/net/http/internal/WebClientFactoryImpl.java
Labels: Core

#6530 Feature time of day condition #6465
  bundles/automation/org.eclipse.smarthome.automation.module.timer.test/org.eclipse.smarthome.automation.module.timer.test.launch
  bundles/automation/org.eclipse.smarthome.automation.module.timer.test/src/test/java/org/eclipse/smarthome/automation/module/timer/internal/BasicConditionHandlerTest.java
  bundles/automation/org.eclipse.smarthome.automation.module.timer.test/src/test/java/org/eclipse/smarthome/automation/module/timer/internal/DayOfWeekConditionHandlerTest.java
  bundles/automation/org.eclipse.smarthome.automation.module.timer.test/src/test/java/org/eclipse/smarthome/automation/module/timer/internal/TimeOfDayConditionHandlerTest.java
  bundles/automation/org.eclipse.smarthome.automation.module.timer/ESH-INF/automation/moduletypes/TimeOfDayCondition.json
  bundles/automation/org.eclipse.smarthome.automation.module.timer/src/main/java/org/eclipse/smarthome/automation/module/timer/factory/TimerModuleHandlerFactory.java
  bundles/automation/org.eclipse.smarthome.automation.module.timer/src/main/java/org/eclipse/smarthome/automation/module/timer/handler/TimeOfDayConditionHandler.java
Labels: Automation

#6587 [homematic] Use system channel for PRESS datapoint
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/communicator/virtual/ButtonDatapointTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/README.md
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/AbstractHomematicGateway.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/virtual/ButtonVirtualDatapointHandler.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/virtual/PressVirtualDatapointHandler.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/misc/HomematicConstants.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/type/HomematicTypeGeneratorImpl.java
Labels: Binding-Homematic
