Repository eclipse/smarthome, pull requests merged in 2018-10, with the labels that each got.

#6301 Send POWER command when the player is in StandBy mode
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/CommandExecutor.java
Labels: Binding-Bose

#6300 Fix discovery for Bose SoundTouch 300
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/discovery/SoundTouchDiscoveryParticipant.java
Labels: Binding-Bose, bug

#6328 Updates to Homematic documentation
  extensions/binding/org.eclipse.smarthome.binding.homematic/README.md
Labels: Binding-Homematic, Documentation

#6337 [BoseSoundTouch] Make presets a State Options to allow simple selection
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/handler/BoseSoundTouchHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseSoundTouchHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseStateDescriptionOptionProvider.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/CommandExecutor.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/PresetContainer.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseProcessor.java
Labels: Binding-Bose

#6343 Added methods to JavaOSGiTest to retrieve multiple instances of a service.
  bundles/test/org.eclipse.smarthome.test/src/main/java/org/eclipse/smarthome/test/java/JavaOSGiTest.java
Labels: Test

#6338 MQTT fixes
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/ChannelGroupUID.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/ChannelUID.java
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnection.java
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnectionConfig.java
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/MqttServiceObserver.java
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/internal/MqttActionAdapterCallback.java
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/internal/TopicSubscribers.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/handler/AbstractBrokerHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/internal/discovery/NetworkDiscoveryServiceTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/AbstractBrokerHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandlerConfig.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/SystemBrokerHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/internal/discovery/MqttServiceDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/internal/discovery/NetworkDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/internal/ssl/PinTrustManager.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/META-INF/MANIFEST.MF
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/main/java/org/eclipse/smarthome/io/mqttembeddedbroker/internal/EmbeddedBrokerServiceImpl.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/main/java/org/eclipse/smarthome/io/mqttembeddedbroker/internal/MqttEmbeddedBrokerMetrics.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/main/java/org/eclipse/smarthome/io/mqttembeddedbroker/internal/MqttEmbeddedBrokerUserAuthenticator.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/main/java/org/eclipse/smarthome/io/mqttembeddedbroker/internal/MqttWillAndTestamentBuilder.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/main/java/org/eclipse/smarthome/io/mqttembeddedbroker/internal/ServiceConfiguration.java
  extensions/io/org.eclipse.smarthome.io.mqttembeddedbroker/src/moquette-dummy-deps/java/com/bugsnag/Bugsnag.java
Labels: Binding-MQTT

#6340 Paper UI: modularize things view with smaller components
  bundles/test/org.eclipse.smarthome.magic/ESH-INF/thing/thing-types.xml
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/MagicBindingConstants.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/handler/MagicOnlineOfflineHandler.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/internal/MagicHandlerFactory.java
  extensions/ui/org.eclipse.smarthome.ui.paper/gulpfile.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/app.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/repositories/repositories-services.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.thing.statusInfo.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.thing.statusInfo.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list-entry.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list-entry.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/configuration.things.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/configuration.things.view.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.edit.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.spec.bak
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.view.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/route-config.js
Labels: UI-PaperUI

#6348 Changed ItemStateTriggerHandler to properly filter relevant topics
  bundles/automation/org.eclipse.smarthome.automation.module.core/src/main/java/org/eclipse/smarthome/automation/module/core/handler/ItemStateTriggerHandler.java
Labels: Automation

#6364 Paper UI: Fix binding details view
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.binding-details.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.binding-thingtypes.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/repositories/repositories-module.js
Labels: UI-PaperUI

#6365 [homematic] Fix typo
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/resources/homematic/extra-descriptions.properties
Labels: Binding-Homematic

#6367 [One-Wire] Support for DS1420
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/OwBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/device/OwSensorType.java
Labels: Binding-OneWire

#6368 [One-Wire] Fixed refresh issue, was 10 seconds instead of 300
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/MultisensorThingHandler.java
Labels: Binding-OneWire

#6371 [One-Wire] Fixed issue with additional current channel added for…
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/internal/MultisensorThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/MultisensorThingHandler.java
Labels: Binding-OneWire

#6385 Fix mqtt thing-types 'broker' thing
  extensions/binding/org.eclipse.smarthome.binding.mqtt/ESH-INF/thing/thing-types.xml
Labels: Binding-MQTT

#6384 [onewire] Fix randomly failing OwserverConnectionTest
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/owserver/OwserverConnectionTest.java
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/test/OwserverTestServer.java
Labels: Binding-OneWire, Test

#6386 Allow multi value parameters in Thing DSL
  bundles/model/org.eclipse.smarthome.model.script.tests/org.eclipse.smarthome.model.script.tests.launch
  bundles/model/org.eclipse.smarthome.model.thing.tests/.classpath
  bundles/model/org.eclipse.smarthome.model.thing.tests/org.eclipse.smarthome.model.thing.tests.launch
  bundles/model/org.eclipse.smarthome.model.thing.tests/src/test/java/org/eclipse/smarthome/model/thing/test/hue/DumbThingHandlerFactory.java
  bundles/model/org.eclipse.smarthome.model.thing.tests/src/test/java/org/eclipse/smarthome/model/thing/test/hue/GenericThingProviderTest.java
  bundles/model/org.eclipse.smarthome.model.thing.tests/src/test/java/org/eclipse/smarthome/model/thing/test/hue/TestHueThingHandlerFactoryX.java
  bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/model/thing/Thing.xtext
  bundles/model/org.eclipse.smarthome.model.thing/src/org/eclipse/smarthome/model/thing/internal/GenericThingProvider.xtend
Labels: DSL

#6393 Documentation for DynamicStateDescriptionProvider
  docs/documentation/development/bindings/thing-definition.md
Labels: Documentation

#6405 Paper UI: add basic repository tests
  extensions/ui/org.eclipse.smarthome.ui.paper/tests/setup.test.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/repositories/repositories-module.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/repositories/repositories-modules.spec.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.spec.js
Labels: UI-PaperUI

#6409 [Homematic] Added support for HMIP only gateways
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/common/HomematicConfig.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/AbstractHomematicGateway.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/client/RpcClient.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/model/HmGatewayInfo.java
Labels: Binding-Homematic

#6415 [Classic UI] Dynamic icon for Setpoint widget
  extensions/ui/org.eclipse.smarthome.ui.classic/snippets/setpoint.html
  extensions/ui/org.eclipse.smarthome.ui.classic/src/main/java/org/eclipse/smarthome/ui/classic/internal/render/SetpointRenderer.java
Labels: UI-ClassicUI

#6421 [TRADFRI] Added logging for CoAP requests
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriGatewayHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapClient.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapHandler.java
Labels: Binding-Trådfri

#6423 added blog post about Smart Home Day 2018
  docs/_posts/2018-10-29-smarthomeday.md
  docs/img/blog/2018-10-29_smarthomeday.jpg
  docs/img/blog/2018-10_googlephotos.jpg
  docs/img/blog/2018-10_shd.jpg
Labels: Documentation

#6376 [TRADFRI] Removed delay for color command handling to have a smoother transition
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriLightHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapClient.java
Labels: Binding-Trådfri

#6341 Improvements to the OAuth2 implementation
  bundles/auth/org.eclipse.smarthome.auth.oauth2client.test/README.md
  bundles/auth/org.eclipse.smarthome.auth.oauth2client.test/src/main/java/org/eclipse/smarthome/auth/oauth2client/test/internal/AbstractTestAgent.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client.test/src/main/java/org/eclipse/smarthome/auth/oauth2client/test/internal/TestAgent.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client.test/src/main/java/org/eclipse/smarthome/auth/oauth2client/test/internal/console/ConsoleOAuthCommandExtension.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/OAuthClientServiceImpl.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/OAuthConnector.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/OAuthFactoryImpl.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/OAuthStoreHandler.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/OAuthStoreHandlerImpl.java
  bundles/auth/org.eclipse.smarthome.auth.oauth2client/src/main/java/org/eclipse/smarthome/auth/oauth2client/internal/PersistedParams.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/auth/client/oauth2/AccessTokenRefreshListener.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/auth/client/oauth2/AccessTokenResponse.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/auth/client/oauth2/OAuthClientService.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/auth/client/oauth2/OAuthFactory.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/auth/client/oauth2/OAuthResponseException.java
Labels: APIBreaking
