Repository eclipse/smarthome, pull requests merged in 2018-04, with the labels that each got.

#5356 Add guava avoidance remark to coding guidelines
  docs/documentation/development/guidelines.md
Labels: Documentation

#5355 port DynamicThingUpdateOSGITest to Java
  bundles/config/org.eclipse.smarthome.config.discovery.test/src/test/groovy/org/eclipse/smarthome/config/setup/test/inbox/DynamicThingUpdateOSGITest.groovy
  bundles/config/org.eclipse.smarthome.config.discovery.test/src/test/java/org/eclipse/smarthome/config/discovery/inbox/DynamicThingUpdateOSGITest.java
Labels: Test

#5391 Handle missing callbacks gracefully in BaseThingHandler
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/BaseThingHandler.java
Labels: Core

#5407 [WeMo] remove implementation of DiscoveryListener from handler. Fixes #4662
  extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/handler/WemoCoffeeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/handler/WemoHandler.java
  extensions/binding/org.eclipse.smarthome.binding.wemo/src/main/java/org/eclipse/smarthome/binding/wemo/handler/WemoMakerHandler.java
Labels: Binding-Wemo

#5412 fixed NPE in automation export command
  bundles/automation/org.eclipse.smarthome.automation.commands/src/main/java/org/eclipse/smarthome/automation/internal/commands/AutomationCommandExport.java
Labels: Automation

#5426 [Paper UI / Infra] upgrade to NPM 5.8.0
  extensions/ui/org.eclipse.smarthome.ui.paper/pom.xml
Labels: Infrastructure, UI-PaperUI

#5444 log warning if there are multiple sitemaps with the same name
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java
Labels: UI

#5431 Item tags become metadata
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/internal/items/ItemRegistryOSGiJavaTest.java
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/items/ManagedItemProviderOSGiTest.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/MetadataRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/GenericItem.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/ItemRegistry.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/ManagedItemProvider.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/MetadataRegistry.java
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResourceOSGiTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResource.java
  bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
Labels: Core

#5397 Initial contribution of the Bose Soundtouch binding
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/.classpath
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/.project
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/binding/binding.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/config/config.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch10.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch20.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch30.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch300.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouchSA5Amplifier.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouchWirelessLinkAdapter.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/UnknownSoundTouch.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/WaveSoundTouchMusicSystemIV.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/NOTICE
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/OSGI-INF/.gitignore
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/README.md
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/build.properties
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/BoseSoundTouchBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/handler/BoseSoundTouchHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/APIRequest.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/AvailableSources.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseSoundTouchHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseSoundTouchNotFoundException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/CommandExecutor.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/ContentItem.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/ContentItemMaker.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/ContentItemNotPresetableException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/NoInternetRadioPresetFoundException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/NoPresetFoundException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/NoStoredMusicPresetFoundException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/OperationModeNotAvailableException.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/OperationModeType.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/PresetContainer.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/RemoteKeyType.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLHandlerState.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseProcessor.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/discovery/DiscoveryUtil.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/discovery/SoundTouchDiscoveryParticipant.java
  extensions/binding/pom.xml
  features/karaf/esh-ext/src/main/feature/feature.xml
  features/org.eclipse.smarthome.feature.runtime.binding/feature.xml
Labels: New Contribution

#5454 added COQON to the references on the homepage
  docs/index.html
Labels: Documentation

#5455 [docu] added Bose SoundTouch binding to the menu
  docs/_includes/documentation-menu.html
Labels: Documentation

#5463 [Hue] Use DS annotations
  extensions/binding/org.eclipse.smarthome.binding.hue/OSGI-INF/.gitignore
  extensions/binding/org.eclipse.smarthome.binding.hue/OSGI-INF/HueBridgeNupnpDiscovery.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/OSGI-INF/HueBridgeUPnPDiscoveryParticipant.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/OSGI-INF/HueThingHandlerFactory.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueThingHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeDiscoveryParticipant.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeNupnpDiscovery.java
Labels: Binding-Hue

#5495 [Metadata] delay metadata modifications if the managed provider is mi…
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
Labels: Core

#5508 Paper UI: do not require number item dimension and allow de-selection
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/controllers.items.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/item.config.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/shared.properties.js
Labels: UI-PaperUI

#5510 [metadata] remove existing metadata from generic provider
  bundles/model/org.eclipse.smarthome.model.item.tests/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider2Test.java
  bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider.java
Labels: DSL
