Repository eclipse/smarthome, pull requests merged in 2018-08, with the labels that each got.

#5978 [Homematic] Changes for Thing Types and Homegear prefix
  extensions/binding/org.eclipse.smarthome.binding.homematic/README.md
Labels: Binding-Homematic

#5963 [homematic] Feature - Enable configuration of device parameters
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/client/RpcClient.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/parser/ListDevicesParser.java
Labels: Binding-Homematic

#6009 [LIFX] Fix null analysis warnings, suppress resource warning false positives
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/protocol/PacketFactory.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/protocol/PacketHandler.java
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/util/LifxSelectorUtil.java
Labels: Binding-LIFX

#6013 [astro] Incorporated new QuantityType (Units of Measurement)
  extensions/binding/org.eclipse.smarthome.binding.astro.test/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.astro.test/src/test/groovy/org/eclipse/smarthome/binding/astro/test/cases/AstroParametrizedTestCases.groovy
  extensions/binding/org.eclipse.smarthome.binding.astro/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.astro/ESH-INF/thing/sun.xml
  extensions/binding/org.eclipse.smarthome.binding.astro/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.astro/README.md
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/calc/MoonCalc.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/calc/SunCalc.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/model/MoonDistance.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/model/MoonPhase.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/model/Position.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/model/Radiation.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/model/Range.java
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/internal/util/PropertyUtils.java
Labels: APIBreaking, Binding-Astro

#6021 Paper UI: allow linking plain Number items on UoM channels
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.js
Labels: UI-PaperUI

#6023 Paper UI: refactor directives to components
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/css/parameterDescription.css
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.binding-details.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.binding-overview.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.binding-thingtypes.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/bindings/directive.bindings-list.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.configDescription.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.locationParameter.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.locationParameter.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.parameterDescription.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.parameterDescription.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/control.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/controllers.control.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/directive.control.location.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/directive.control.location.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/map-component/directive.component.map.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/control/map-component/directive.component.map.js
Labels: UI-PaperUI

#5501 Implements a bridge for weatherunderground. Solves issue #4000
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/thing/bridge.xml
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/README.md
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/WeatherUndergroundBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/handler/WeatherUndergroundBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/handler/WeatherUndergroundHandler.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/WeatherUndergroundHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/config/WeatherUndergroundConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/discovery/WeatherUndergroundDiscoveryService.java
Labels: APIBreaking, Binding-Weather-Underground

#6045 Paper UI: refactor config description to component API
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.configDescription.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.configDescription.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/configuration/directive.locationParameter.js
Labels: UI-PaperUI

#6046 [Basic UI] Show label and icon for Webview widgets
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/mapview.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/webview.html
  extensions/ui/org.eclipse.smarthome.ui.basic/src/main/java/org/eclipse/smarthome/ui/basic/internal/render/WebviewRenderer.java
Labels: UI-BasicUI

#6042 Paper UI: clean node_modules & npm cache during mvn clean
  extensions/ui/org.eclipse.smarthome.ui.paper/pom.xml
Labels: UI-PaperUI

#6049 Paper UI: move index.html to template & ignore generated index.html
  extensions/ui/org.eclipse.smarthome.ui.paper/gulpfile.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/index.html.template
Labels: UI-PaperUI

#6031 Sort TTS options
  bundles/core/org.eclipse.smarthome.core.voice.test/VoiceTests.launch
  bundles/core/org.eclipse.smarthome.core.voice.test/src/test/java/org/eclipse/smarthome/core/voice/javavoicemanager/VoiceManagerTest.java
  bundles/core/org.eclipse.smarthome.core.voice.test/src/test/java/org/eclipse/smarthome/core/voice/voiceconsolecommandextension/VoicesCommandTest.java
  bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/VoiceManager.java
  bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/VoiceConsoleCommandExtension.java
  bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/VoiceManagerImpl.java
Labels: Voice

#6079 [Tradfri] Supress 'old firmware' warning if firmware property is not set
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriGatewayHandler.java
Labels: Binding-Trådfri

#6085 [Automation] Consider rule updates from the registry in the rule engine
  bundles/automation/org.eclipse.smarthome.automation.core/src/main/java/org/eclipse/smarthome/automation/core/internal/RuleEngineImpl.java
  bundles/automation/org.eclipse.smarthome.automation.integration.test/src/test/java/org/eclipse/smarthome/automation/integration/test/AutomationIntegrationTest.java
Labels: Automation

#6086 Sort all voice parameter options with streams
  bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/VoiceManagerImpl.java
Labels: Voice

#6091 Do not use NetworkAddressChangeListener as an OSGi service, but as a callback of NetworkAddressService
  bundles/config/org.eclipse.smarthome.config.discovery.upnp/src/main/java/org/eclipse/smarthome/config/discovery/upnp/internal/UpnpDiscoveryService.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/net/NetUtil.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/net/NetworkAddressChangeListener.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/net/NetworkAddressService.java
  bundles/io/org.eclipse.smarthome.io.transport.mdns/src/main/java/org/eclipse/smarthome/io/transport/mdns/internal/MDNSClientImpl.java
Labels: APIBreaking

#5419 Port MapDbPersistenceService
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/.classpath
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/.project
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/.settings/org.eclipse.jdt.core.prefs
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/.settings/org.eclipse.jdt.groovy.core.prefs
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/META-INF/MANIFEST.MF
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/NOTICE
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/PersistenceTests.launch
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/build.properties
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/pom.xml
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/src/test/java/org/eclipse/smarthome/persistence/mapdb/MapDbPersistenceServiceOSGiTest.java
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb.test/src/test/java/org/eclipse/smarthome/persistence/mapdb/StateTypeAdapterTest.java
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/.classpath
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/.project
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/.settings/org.eclipse.jdt.core.prefs
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/.settings/org.maven.ide.eclipse.prefs
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/META-INF/MANIFEST.MF
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/NOTICE
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/OSGI-INF/.gitignore
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/README.md
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/build.properties
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/pom.xml
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/src/main/java/org/eclipse/smarthome/persistence/mapdb/internal/MapDbItem.java
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/src/main/java/org/eclipse/smarthome/persistence/mapdb/internal/MapDbPersistenceService.java
  extensions/persistence/org.eclipse.smarthome.persistence.mapdb/src/main/java/org/eclipse/smarthome/persistence/mapdb/internal/StateTypeAdapter.java
  extensions/persistence/pom.xml
  extensions/pom.xml
Labels: New Contribution

#6093 [digitalSTROM] fixes potential NPEs
  extensions/binding/org.eclipse.smarthome.binding.digitalstrom/src/main/java/org/eclipse/smarthome/binding/digitalstrom/internal/lib/structure/devices/impl/DeviceImpl.java
Labels: Binding-Digitalstrom

#6101 [homematic] Fix issue #6053: HomematicIP-Devices offline with 2.4.0 Snapshot 1330
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/communicator/client/RpcClientTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/test/util/DimmerHelper.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/test/util/RpcClientMockImpl.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/HomematicBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/client/RpcClient.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/parser/ListDevicesParser.java
Labels: Binding-Homematic
