Repository eclipse/smarthome, pull requests merged in 2018-05, with the labels that each got.

#5417 Avoid sending update notification for a chart widget having a refresh argument
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java
  extensions/ui/org.eclipse.smarthome.ui.classic/src/main/java/org/eclipse/smarthome/ui/classic/internal/servlet/WebAppServlet.java
Labels: UI, bug

#5513 split event manager and event publisher
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/events/OSGiEventManager.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/events/OSGiEventPublisher.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/events/ThreadedEventHandler.java
Labels: Core

#5525 relax timeouts in DiscoveryServiceRegistryOSGiTest
  bundles/config/org.eclipse.smarthome.config.discovery.test/src/test/java/org/eclipse/smarthome/config/discovery/DiscoveryServiceRegistryOSGiTest.java
Labels: Test

#5523 refresh internal widget collection on sitemap change
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/SitemapSubscriptionService.java
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java
  bundles/model/org.eclipse.smarthome.model.sitemap/src/org/eclipse/smarthome/model/sitemap/SitemapProvider.java
  bundles/model/org.eclipse.smarthome.model.sitemap/src/org/eclipse/smarthome/model/sitemap/internal/SitemapProviderImpl.java
Labels: UI

#5528 Converted Hue tests from Groovy to Java
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/internal/ThingRegistryOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/.classpath
  extensions/binding/org.eclipse.smarthome.binding.hue.test/.project
  extensions/binding/org.eclipse.smarthome.binding.hue.test/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.hue.test/org.eclipse.smarthome.binding.hue.test.launch
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/groovy/org/eclipse/smarthome/binding/hue/test/HueBridgeHandlerOSGiTest.groovy
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/groovy/org/eclipse/smarthome/binding/hue/test/HueLightHandlerOSGiTest.groovy
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/handler/HueBridgeHandlerOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/handler/HueLightHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/HueLightDiscoveryServiceOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeNupnpDiscoveryOSGITest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/test/AbstractHueOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/handler/HueBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/handler/HueClient.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/handler/HueLightHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/StateUpdate.java
Labels: Binding-Hue, Test

#5343 Firmware Provider Provides Firmwares for Things
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/groovy/org/eclipse/smarthome/core/thing/firmware/FirmwareRegistryOSGiTest.groovy
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/groovy/org/eclipse/smarthome/core/thing/firmware/ProgressCallbackTest.groovy
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/binding/firmware/FirmwareTest.java
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/firmware/Constants.java
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/firmware/FirmwareEventFactoryTest.java
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/firmware/ModelRestrictedFirmwareUpdateServiceOSGiTest.java
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/internal/firmware/FirmwareUpdateServiceTest.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/Firmware.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/FirmwareBuilder.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/FirmwareUID.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/FirmwareUpdateBackgroundTransferHandler.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/ProgressCallback.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/firmware/ProgressStep.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareEventFactory.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareProvider.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareRegistry.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareStatus.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareStatusInfo.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareStatusInfoEvent.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateProgressInfo.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateProgressInfoEvent.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateResult.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateResultInfo.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateResultInfoEvent.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateService.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/dto/FirmwareDTO.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/dto/FirmwareStatusDTO.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/console/FirmwareUpdateConsoleCommandExtension.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/firmware/FirmwareImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/firmware/FirmwareRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/firmware/FirmwareUpdateServiceImpl.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/firmware/ParameterChecks.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/firmware/ProgressCallbackImpl.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/thing/ThingResource.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/thing/ThingTypeResource.java
  bundles/test/org.eclipse.smarthome.test/src/main/java/org/eclipse/smarthome/test/java/JavaTest.java
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/firmware/controller.firmware.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.rest.js
Labels: APIBreaking, Firmware

#5534 delay usage of ThingHandlerFactories until ThingManager is active
  bundles/core/org.eclipse.smarthome.core.thing.test/src/test/java/org/eclipse/smarthome/core/thing/internal/ThingManagerTest.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java
Labels: Core

#5539 [astro] Fix time drift of positional job
  extensions/binding/org.eclipse.smarthome.binding.astro/src/main/java/org/eclipse/smarthome/binding/astro/handler/AstroThingHandler.java
  tools/static-code-analysis/checkstyle/suppressions.xml
Labels: Binding-Astro

#5550 migrate io.transport.upnp.test bundle from Groovy to Java
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/.classpath
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/.project
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/META-INF/MANIFEST.MF
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/build.properties
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/src/test/groovy/org/eclipse/smarthome/io/transport/upnp/test/UpnpIOServiceTest.groovy
  bundles/io/org.eclipse.smarthome.io.transport.upnp.test/src/test/java/org/eclipse/smarthome/io/transport/upnp/internal/UpnpIOServiceTest.java
  bundles/io/org.eclipse.smarthome.io.transport.upnp/src/main/java/org/eclipse/smarthome/io/transport/upnp/internal/UpnpIOServiceImpl.java
Labels: Test

#5549 Fix pattern parsing
  bundles/model/org.eclipse.smarthome.model.item.tests/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider2Test.java
  bundles/model/org.eclipse.smarthome.model.item/META-INF/MANIFEST.MF
  bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/AutoUpdateGenericBindingConfigProvider.java
  bundles/model/org.eclipse.smarthome.model.item/src/org/eclipse/smarthome/model/item/internal/GenericItemProvider.java
Labels: DSL

#4383 Support for quoted strings in rule triggers
  bundles/model/org.eclipse.smarthome.model.rule.runtime/src/org/eclipse/smarthome/model/rule/runtime/internal/engine/RuleEngineImpl.java
  bundles/model/org.eclipse.smarthome.model.rule.runtime/src/org/eclipse/smarthome/model/rule/runtime/internal/engine/RuleTriggerManager.java
  bundles/model/org.eclipse.smarthome.model.rule.tests/.classpath
  bundles/model/org.eclipse.smarthome.model.rule.tests/META-INF/MANIFEST.MF
  bundles/model/org.eclipse.smarthome.model.rule.tests/build.properties
  bundles/model/org.eclipse.smarthome.model.rule.tests/org.eclipse.smarthome.model.rule.tests.launch
  bundles/model/org.eclipse.smarthome.model.rule.tests/pom.xml
  bundles/model/org.eclipse.smarthome.model.rule.tests/src/org/eclipse/smarthome/model/rule/runtime/internal/engine/RuleTest.java
  bundles/model/org.eclipse.smarthome.model.rule.tests/xtend-gen/.gitignore
  bundles/model/org.eclipse.smarthome.model.rule/src/org/eclipse/smarthome/model/rule/Rules.xtext
Labels: DSLRules

#5361 Simple Magic Firmware Update ThingType
  bundles/test/org.eclipse.smarthome.magic/ESH-INF/thing/thing-types.xml
  bundles/test/org.eclipse.smarthome.magic/META-INF/MANIFEST.MF
  bundles/test/org.eclipse.smarthome.magic/README.md
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/MagicBindingConstants.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/handler/MagicConfigurableThingHandler.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/handler/MagicFirmwareUpdateThingHandler.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/internal/MagicHandlerFactory.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/internal/firmware/MagicFirmwareProvider.java
Labels: Firmware

#5579 Paper UI: show bridge selection in thing editor
  bundles/test/org.eclipse.smarthome.magic/ESH-INF/thing/bridge-types.xml
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/MagicBindingConstants.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/handler/MagicBridgeHandler.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/handler/MagicBridgedThingHandler.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/binding/internal/MagicHandlerFactory.java
  extensions/ui/org.eclipse.smarthome.ui.paper/gulpfile.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/app.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/configuration.things.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.edit.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.spec.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.view.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/directive.thingConfiguration.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/directive.thingConfiguration.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/things-module.js
Labels: UI-PaperUI

#5584 Ignore broker handler test
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/org.eclipse.smarthome.binding.mqtt.test.launch
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/handler/BrokerHandlerTest.java
Labels: Binding-MQTT, Test

#5465 Add Notification API support
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/config/config.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch10.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch20.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/SoundTouch30.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/README.md
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/BoseSoundTouchBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/BoseSoundTouchConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/handler/BoseSoundTouchHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseSoundTouchNotificationChannelConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/CommandExecutor.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/PresetContainer.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/discovery/SoundTouchDiscoveryParticipant.java
Labels: Binding-Bose

#5576 Paper UI: add editor for item metadata
  bundles/io/org.eclipse.smarthome.io.rest.core.test/META-INF/MANIFEST.MF
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/item/MetadataSelectorMatcherTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResource.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/MetadataSelectorMatcher.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/item/EnrichedItemDTO.java
  bundles/test/org.eclipse.smarthome.magic/src/main/java/org/eclipse/smarthome/magic/internal/metadata/MagicMetadataProvider2.java
  extensions/ui/org.eclipse.smarthome.ui.paper/gulpfile.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/css/views.css
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/index.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/app.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/configuration.items.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/controller.metadata-parameter.dialog.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/controllers.items.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/dialog.configure-metadata.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/directive.metadata-details.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/directive.metadata-details.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/directive.metadata-list.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/directive.metadata-list.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/item.config.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/items-module.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/route-config.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/service.items.metadata.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/repositories/repositories-module.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/services.rest.js
Labels: UI-PaperUI

#5592 fixed typos
  docs/getting-started.html
Labels: Documentation

#5602 fixes handling of IRRADIANCE unit
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/library/types/QuantityTypeTest.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/library/unit/SmartHomeUnits.java
Labels: Core

#5606 [Core] Renamed script console command from ">" to "script"
  bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/extension/ScriptEngineConsoleCommandExtension.java
Labels: Core, bug

#5607 fix Item confusion
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/items/ItemRegistryOSGiTest.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/common/registry/AbstractRegistry.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
Labels: Core

#5605 avoid exception on when playing a stream if sink volume cannot be determined
  bundles/core/org.eclipse.smarthome.core.audio.test/AudioOSGiTest.launch
  bundles/core/org.eclipse.smarthome.core.audio.test/src/test/groovy/org/eclipse/smarthome/core/audio/test/AudioManagerTest.groovy
  bundles/core/org.eclipse.smarthome.core.audio/src/main/java/org/eclipse/smarthome/core/audio/AudioManager.java
  bundles/core/org.eclipse.smarthome.core.audio/src/main/java/org/eclipse/smarthome/core/audio/internal/AudioManagerImpl.java
  bundles/core/org.eclipse.smarthome.core.voice/src/main/java/org/eclipse/smarthome/core/voice/internal/VoiceManagerImpl.java
Labels: APIBreaking, Core

#5603 reduced logging level and moved exception handling one level up
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/TransformationHelper.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/item/EnrichedItemDTOMapper.java
Labels: Core

#5611 Child docu generation
  docs/pom.xml
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.bluez/README.md
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/README.md
  extensions/binding/org.eclipse.smarthome.binding.bluetooth/README.md
Labels: Documentation

#5621 Change unit delimiter from [ ] to |
  bundles/model/org.eclipse.smarthome.model.script.tests/src/test/java/org/eclipse/smarthome/model/script/engine/ScriptEngineOSGiTest.java
  bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/Script.xtext
  bundles/model/org.eclipse.smarthome.model.script/src/org/eclipse/smarthome/model/script/interpreter/ScriptInterpreter.xtend
  docs/_posts/2018-02-22-units-of-measurement.md
Labels: APIBreaking, DSL, DSLRules

#5623 [Tradfri] Fixed memory leak
  extensions/binding/org.eclipse.smarthome.binding.tradfri/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriGatewayHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapClient.java
Labels: Binding-Trådfri, bug

#5626 [WeatherUnderground] Fix NPEs when channels are linked while weatherData is null
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/handler/WeatherUndergroundHandler.java
Labels: Binding-Weather-Underground

#5365 Added null annotations to transformation services
  bundles/core/org.eclipse.smarthome.core.transform.test/.classpath
  bundles/core/org.eclipse.smarthome.core.transform.test/.project
  bundles/core/org.eclipse.smarthome.core.transform.test/META-INF/MANIFEST.MF
  bundles/core/org.eclipse.smarthome.core.transform.test/NOTICE
  bundles/core/org.eclipse.smarthome.core.transform.test/build.properties
  bundles/core/org.eclipse.smarthome.core.transform.test/pom.xml
  bundles/core/org.eclipse.smarthome.core.transform.test/src/test/java/org/eclipse/smarthome/core/transform/actions/TransformationTest.java
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/AbstractFileTransformationService.java
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/TransformationException.java
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/TransformationHelper.java
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/TransformationService.java
  bundles/core/org.eclipse.smarthome.core.transform/src/main/java/org/eclipse/smarthome/core/transform/actions/Transformation.java
  bundles/core/pom.xml
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
  extensions/transform/org.eclipse.smarthome.transform.exec/src/main/java/org/eclipse/smarthome/transform/exec/internal/ExecTransformationService.java
  extensions/transform/org.eclipse.smarthome.transform.javascript/src/main/java/org/eclipse/smarthome/transform/javascript/internal/JavaScriptTransformationService.java
  extensions/transform/org.eclipse.smarthome.transform.jsonpath.test/src/test/java/org/eclipse/smarthome/transform/jsonpath/internal/JSonPathTransformationServiceTest.java
  extensions/transform/org.eclipse.smarthome.transform.jsonpath/README.md
  extensions/transform/org.eclipse.smarthome.transform.jsonpath/src/main/java/org/eclipse/smarthome/transform/jsonpath/internal/JSonPathTransformationService.java
  extensions/transform/org.eclipse.smarthome.transform.regex/src/main/java/org/eclipse/smarthome/transform/regex/internal/RegExTransformationService.java
  extensions/transform/org.eclipse.smarthome.transform.xpath/src/main/java/org/eclipse/smarthome/transform/xpath/internal/XPathTransformationService.java
  extensions/transform/org.eclipse.smarthome.transform.xslt/src/main/java/org/eclipse/smarthome/transform/xslt/internal/XsltTransformationService.java
Labels: APIBreaking

#5631 [Tradfri] further improve connection handling
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriGatewayHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/handler/TradfriThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.tradfri/src/main/java/org/eclipse/smarthome/binding/tradfri/internal/TradfriCoapClient.java
Labels: Binding-Trådfri

#5625 Added ItemRegistry#removeTags(String) to remove ALL tags for an item.
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/items/ItemRegistryOSGiTest.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/items/ItemRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/ItemRegistry.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
Labels: Core

#5630 Persistence: Use previous timestamp when duplicating binary values
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/persistence/PersistenceResourceTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/persistence/PersistenceResource.java
Labels: Persistence

#5599 Add documentation about How to implement Profiles
  docs/_includes/documentation-menu.html
  docs/documentation/development/bindings/profiles.md
Labels: Documentation

#5639 fix issue 5636
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/OperationModeType.java
Labels: Binding-Bose

#5640 Fix item resource metadata retrieval
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/item/MetadataSelectorMatcherTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/MetadataSelectorMatcher.java
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/directive.metadata-details.js
Labels: UI-PaperUI

#5583 Document re-discovery of things
  docs/documentation/development/bindings/discovery-services.md
Labels: Documentation

#5629 added metadata console command
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/items/Metadata.java
  bundles/io/org.eclipse.smarthome.io.console/src/main/java/org/eclipse/smarthome/io/console/internal/extension/MetadataConsoleCommandExtension.java
Labels: Core
