Repository eclipse/smarthome, pull requests merged in 2018-02, with the labels that each got.

#5061 Basic UI: fix live update (Microsoft Edge)
  extensions/ui/org.eclipse.smarthome.ui.basic/web-src/smarthome.js
Labels: UI-BasicUI

#5063 Remove interface inference
  bundles/config/org.eclipse.smarthome.config.discovery/src/main/java/org/eclipse/smarthome/config/discovery/internal/DiscoveryServiceRegistryImpl.java
  bundles/core/org.eclipse.smarthome.core.test/src/test/java/org/eclipse/smarthome/core/internal/common/SafeCallerImplTest.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/firmware/FirmwareUpdateService.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/CommunicationManager.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/ThingManager.java
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/internal/profiles/ProfileCallbackImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/common/SafeCaller.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/common/SafeCallerImpl.java
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/internal/events/EventHandler.java
Labels: APIBreaking, Core

#5072 WU binding: new channel pressureTrend
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/i18n/weatherunderground_fr.properties
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/README.md
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/json/WeatherUndergroundJsonCurrent.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/json/WeatherUndergroundJsonUtils.java
Labels: Binding-Weather-Underground

#5078 Classic UI: show label and icon for Mapview widgets
  extensions/ui/org.eclipse.smarthome.ui.classic/snippets/mapview.html
  extensions/ui/org.eclipse.smarthome.ui.classic/src/main/java/org/eclipse/smarthome/ui/classic/internal/render/MapviewRenderer.java
Labels: UI-ClassicUI

#5070 WU binding: add new channels containing the icon key
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/i18n/weatherunderground_fr.properties
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/README.md
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/json/WeatherUndergroundJsonCurrent.java
  extensions/binding/org.eclipse.smarthome.binding.weatherunderground/src/main/java/org/eclipse/smarthome/binding/weatherunderground/internal/json/WeatherUndergroundJsonForecastDay.java
Labels: Binding-Weather-Underground

#5088 Paper UI: Remember selected tab in URL query parameter
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/app.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.control.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.extension.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.services.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/configuration.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/control.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/extensions.html
Labels: UI-PaperUI

#5085 Documentation: Fix wrong example in channel definition
  docs/documentation/concepts/things.md
Labels: APIBreaking, Documentation

#5082 improve error reporting in case of permission problems and removed di…
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.bluez/README.md
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.bluez/src/main/java/org/eclipse/smarthome/binding/bluetooth/bluez/handler/BlueZBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.bluez/src/main/java/org/eclipse/smarthome/binding/bluetooth/bluez/internal/discovery/BlueZDiscoveryService.java
Labels: Binding-Bluetooth

#4738 Change FilterCriteria to use Java8's ZonedDateTime
  bundles/core/org.eclipse.smarthome.core.persistence/src/main/java/org/eclipse/smarthome/core/persistence/FilterCriteria.java
  bundles/io/org.eclipse.smarthome.io.rest.core/META-INF/MANIFEST.MF
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/persistence/PersistenceResource.java
  bundles/model/org.eclipse.smarthome.model.persistence.tests/pom.xml
  bundles/model/org.eclipse.smarthome.model.persistence.tests/src/test/java/org/eclipse/smarthome/model/persistence/tests/TestPersistenceService.java
  bundles/model/org.eclipse.smarthome.model.persistence/META-INF/MANIFEST.MF
  bundles/model/org.eclipse.smarthome.model.persistence/OSGI-INF/.gitignore
  bundles/model/org.eclipse.smarthome.model.persistence/OSGI-INF/persistenceextension.xml
  bundles/model/org.eclipse.smarthome.model.persistence/OSGI-INF/persistencemanager.xml
  bundles/model/org.eclipse.smarthome.model.persistence/src/org/eclipse/smarthome/model/persistence/extensions/PersistenceExtensions.java
  bundles/model/org.eclipse.smarthome.model.persistence/src/org/eclipse/smarthome/model/persistence/internal/PersistenceModelManager.java
  bundles/ui/org.eclipse.smarthome.ui/META-INF/MANIFEST.MF
  bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/.gitignore
  bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/chartprovider.xml
  bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/chartservlet.xml
  bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/itemuiregistry.xml
  bundles/ui/org.eclipse.smarthome.ui/OSGI-INF/proxy.xml
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/ChartServlet.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/chart/defaultchartprovider/DefaultChartProvider.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/items/ItemUIRegistryImpl.java
  bundles/ui/org.eclipse.smarthome.ui/src/main/java/org/eclipse/smarthome/ui/internal/proxy/ProxyServletService.java
Labels: feedback

#5069 Sitemap REST API: include Location items in group members for Mapview…
  bundles/io/org.eclipse.smarthome.io.rest.core.test/META-INF/MANIFEST.MF
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/item/EnrichedItemDTOMapperTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core.test/src/test/java/org/eclipse/smarthome/io/rest/core/internal/item/EnrichedItemDTOMapperWithTransformOSGiTest.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/item/ItemResource.java
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/item/EnrichedItemDTOMapper.java
  bundles/io/org.eclipse.smarthome.io.rest.sitemap.test/src/test/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResourceTest.java
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/META-INF/MANIFEST.MF
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/PageChangeListener.java
  bundles/io/org.eclipse.smarthome.io.rest.sitemap/src/main/java/org/eclipse/smarthome/io/rest/sitemap/internal/SitemapResource.java
Labels: APIBreaking, REST/SSE

#5092 Paper UI: Update item state on state changed events
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/app.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.control.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/controllers.js
Labels: UI-PaperUI

#5100 added Mixtile Hub to ESH references
  docs/index.html
Labels: Documentation

#5103 fixed link to issue tracker
  docs/index.html
Labels: Documentation

#5113 fix synchronization in QueueingThreadPoolExecutor
  bundles/core/org.eclipse.smarthome.core/src/main/java/org/eclipse/smarthome/core/common/QueueingThreadPoolExecutor.java
Labels: Core

#5118 fix config description alias handling
  bundles/config/org.eclipse.smarthome.config.core.test/META-INF/MANIFEST.MF
  bundles/config/org.eclipse.smarthome.config.core.test/src/test/java/org/eclipse/smarthome/config/core/ConfigDescriptionRegistryOSGiTest.java
  bundles/config/org.eclipse.smarthome.config.core/src/main/java/org/eclipse/smarthome/config/core/ConfigDescriptionRegistry.java
Labels: Core

#5125 Paper UI: Fix binding expert configuration
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/partials/dialog.configurebinding.html
Labels: UI-PaperUI

#5123 Basic UI fonts
  extensions/ui/org.eclipse.smarthome.ui.basic/gulpfile.js
  extensions/ui/org.eclipse.smarthome.ui.basic/package.json
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/colorpicker.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/group.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/main.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/rollerblind.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/selection.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/setpoint.html
  extensions/ui/org.eclipse.smarthome.ui.basic/snippets/text_link.html
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/MaterialIcons-Regular.eot
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/MaterialIcons-Regular.ttf
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/MaterialIcons-Regular.woff
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/MaterialIcons-Regular.woff2
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Medium.eot
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Medium.svg
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Medium.ttf
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Medium.woff
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Regular.eot
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Regular.svg
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Regular.ttf
  extensions/ui/org.eclipse.smarthome.ui.basic/web/fonts/Roboto-Regular.woff
  extensions/ui/org.eclipse.smarthome.ui.basic/web/material-icons.css
Labels: UI-BasicUI

#5145 [LIFX] Fix Beam product ID and update supported products in documentation
  extensions/binding/org.eclipse.smarthome.binding.lifx/README.md
  extensions/binding/org.eclipse.smarthome.binding.lifx/src/main/java/org/eclipse/smarthome/binding/lifx/internal/protocol/Products.java
Labels: Binding-LIFX

#5007 [core] Added 'isLinked' method with parameter 'channelUID'
  bundles/core/org.eclipse.smarthome.core.thing/src/main/java/org/eclipse/smarthome/core/thing/binding/BaseThingHandler.java
Labels: Core

#5018 normalize channel configurations in ThingResource
  bundles/io/org.eclipse.smarthome.io.rest.core/src/main/java/org/eclipse/smarthome/io/rest/core/internal/thing/ThingResource.java
Labels: REST/SSE
