Repository eclipse/smarthome, pull requests merged in 2018-12, with the labels that each got.

#6613 [MQTT] fix number formattting
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/config/number-channel-config.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/README.md
Labels: Binding-MQTT

#6615 [MQTT] fix connection handling for command-only channels
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelState.java
Labels: Binding-MQTT

#6623 Paper UI: Fix group item creation for base type None
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/items/controllers.items.js
Labels: UI-PaperUI

#6622 Paper UI: move disabled button to thing list
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/css/components.css
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.thing.statusInfo.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.thing.statusInfo.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list-entry.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/component.things-list-entry.js
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/configuration.things.view.html
  extensions/ui/org.eclipse.smarthome.ui.paper/web-src/js/things/controller.things.view.js
Labels: UI-PaperUI

#6618 [MQTT] removed full network scan mqtt discovery service
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/internal/discovery/NetworkDiscoveryServiceTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/README.md
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/internal/discovery/NetworkDiscoveryService.java
Labels: Binding-MQTT

#5988 RuleEngine: ItemCommandAction: Use input for commands to allow module chaining
  bundles/automation/org.eclipse.smarthome.automation.module.core/ESH-INF/automation/moduletypes/ItemActions.json
  bundles/automation/org.eclipse.smarthome.automation.module.core/src/main/java/org/eclipse/smarthome/automation/module/core/handler/ItemCommandActionHandler.java
Labels: Automation

#6511 [Hue] Added support for sensor API
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/HueLightDiscoveryServiceOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/LightStateConverterOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/VersionTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeNupnpDiscoveryOSGITest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/handler/HueBridgeHandlerOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/handler/HueLightHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/test/HueBridgeDiscoveryParticipantOSGITest.java
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/i18n/hue.properties
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/i18n/hue_de.properties
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/DimmerSwitch.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/LightLevelSensor.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/PresenceSensor.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/TemperatureSensor.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/bridge.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.hue/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.hue/README.md
  extensions/binding/org.eclipse.smarthome.binding.hue/build.properties
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/ApiVersion.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/ApiVersionUtils.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/BridgeConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/Command.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/Config.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/ConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/FullGroup.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/FullHueObject.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/FullLight.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/FullSensor.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HttpClient.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueBridge.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueObject.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueThingHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/LightLevelConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/PresenceConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/ScheduleUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/SensorConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/SetAttributesRequest.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/StateUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/TemperatureConfigUpdate.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/Util.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/config/HueBridgeConfig.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeDiscoveryParticipant.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueBridgeNupnpDiscovery.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/discovery/HueLightDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/HueBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/HueClient.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/HueLightHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/HueSensorHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/LightStateConverter.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/LightStatusListener.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/SensorStatusListener.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/sensors/DimmerSwitchHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/sensors/LightLevelHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/sensors/PresenceHandler.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/sensors/TemperatureHandler.java
Labels: Binding-Hue

#6533 [OWM] Store / cache icon files in a local folder and minor code improvements
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/README.md
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/config/OpenWeatherMapAPIConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/connection/OpenWeatherMapConnection.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/discovery/OpenWeatherMapDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/AbstractOpenWeatherMapHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/OpenWeatherMapAPIHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/OpenWeatherMapWeatherAndForecastHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/utils/ByteArrayFileCache.java
Labels: Binding-OpenWeatherMap

#6624 [MQTT] added brokerid to configuration
  extensions/binding/org.eclipse.smarthome.binding.mqtt.test/src/test/java/org/eclipse/smarthome/binding/mqtt/handler/AbstractBrokerHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/AbstractBrokerHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt/src/main/java/org/eclipse/smarthome/binding/mqtt/handler/SystemBrokerHandler.java
Labels: Binding-MQTT

#6629 [Hue] Fixed brightness of 1 shown as off
  extensions/binding/org.eclipse.smarthome.binding.hue.test/META-INF/MANIFEST.MF
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/LightStateConverterOSGiTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue.test/src/test/java/org/eclipse/smarthome/binding/hue/internal/LightStateConverterTest.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/State.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/LightStateConverter.java
Labels: Binding-Hue

#6634 reduced some logging to debug level
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/handler/SonyAudioHandler.java
  extensions/binding/org.eclipse.smarthome.binding.sonyaudio/src/main/java/org/eclipse/smarthome/binding/sonyaudio/internal/protocol/SonyAudioConnection.java
Labels: Binding-SonyAudio

#6633 [Homematic] Added STATE_CONTACT support for all HMIP-SWDO devices
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/virtual/StateContactVirtualDatapointHandler.java
Labels: Binding-Homematic

#6642 Corrected documentation for channelLinked method
  docs/documentation/development/bindings/thing-handler.md
Labels: Documentation

#6648 MQTT: Fix disconnect. Fix generic percentage channel.
  bundles/io/org.eclipse.smarthome.io.transport.mqtt/src/main/java/org/eclipse/smarthome/io/transport/mqtt/MqttBrokerConnection.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/org.eclipse.smarthome.binding.mqtt.generic.test.launch
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/HomieThingHandlerTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ValueTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelState.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ColorValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/NumberValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/OnOffValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/OpenCloseValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/TextValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/Value.java
Labels: Binding-MQTT

#6663 Fix #6662
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/NumberValue.java
Labels: Binding-MQTT

#6665 blukii data decoding: add checks for valid data
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/handler/BlukiiHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bluetooth.blukii/src/main/java/org/eclipse/smarthome/binding/bluetooth/blukii/internal/data/BlukiiDataDecoder.java
Labels: Binding-Bluetooth

#6666 MQTT: thing-type xml, add channels to extensible
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/generic-thing.xml
Labels: Binding-MQTT

#6671 [UoM] Added millibar unit to the Docs
  docs/documentation/concepts/units-of-measurement.md
Labels: Documentation

#6673 Upgraded to JUPnP 2.5.1
  features/karaf/esh-tp/src/main/feature/feature.xml
  targetplatform/smarthome.target
Labels: enhancement

#6674 MQTT: Color channel can receive a single brightness value + HA components
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/HomeAssistantMQTTImplementationTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/DiscoverComponentsTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelStateTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic.test/src/test/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ValueTests.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/config/color-channel-config.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/config/rollershutter-channel-config.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/channels.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/ESH-INF/thing/generic-thing.xml
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/README.md
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/MqttBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/AbstractComponent.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/CChannel.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/CFactory.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentAlarmControlPanel.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentBinarySensor.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentCamera.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentClimate.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentCover.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentFan.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentLight.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentLock.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentSensor.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/ComponentSwitch.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homeassistant/DiscoverComponents.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/convention/homie300/Property.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/generic/ChannelConfig.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/HomeAssistantThingHandler.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ColorValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/RollershutterValue.java
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/values/ValueFactory.java
Labels: Binding-MQTT

#6685 [Hue] Fixed skipped creation of user if missing in configuration. Emergency last minute fix!
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/HueBridge.java
  extensions/binding/org.eclipse.smarthome.binding.hue/src/main/java/org/eclipse/smarthome/binding/hue/internal/handler/HueBridgeHandler.java
Labels: Binding-Hue

#6684 MQTT: Readme, textual configuration, sub bindings
  extensions/binding/org.eclipse.smarthome.binding.mqtt/README.md
Labels: Binding-MQTT

#6688 MQTT: Code documentation
  extensions/binding/org.eclipse.smarthome.binding.mqtt.generic/src/main/java/org/eclipse/smarthome/binding/mqtt/generic/internal/handler/AbstractMQTTThingHandler.java
Labels: Binding-MQTT

#6657 Enrich Bose SoundTouch thing with some identification properties:
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/BoseSoundTouchNotificationChannelConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLHandlerState.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseHandler.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/XMLResponseProcessor.java
  extensions/binding/org.eclipse.smarthome.binding.bosesoundtouch/src/main/java/org/eclipse/smarthome/binding/bosesoundtouch/internal/discovery/SoundTouchDiscoveryParticipant.java
Labels: Binding-Bose

#6690 [homematic] UoM support unexpected units
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/BaseConverterTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConvertFromBindingTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic.test/src/test/java/org/eclipse/smarthome/binding/homematic/internal/converter/ConvertToBindingTest.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/common/HomematicConfig.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/client/XmlRpcClient.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/converter/type/AbstractTypeConverter.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/converter/type/QuantityTypeConverter.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/type/MetadataUtils.java
Labels: Binding-Homematic

#6716 [Homematic] Added bindAddress bridge parameter
  extensions/binding/org.eclipse.smarthome.binding.homematic/ESH-INF/thing/bridge.xml
  extensions/binding/org.eclipse.smarthome.binding.homematic/README.md
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/handler/HomematicBridgeHandler.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/common/HomematicConfig.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/server/BinRpcNetworkService.java
  extensions/binding/org.eclipse.smarthome.binding.homematic/src/main/java/org/eclipse/smarthome/binding/homematic/internal/communicator/server/XmlRpcServer.java
Labels: Binding-Homematic

#6712 [OneWire] Fixed things staying in INTIALIZING status
  extensions/binding/org.eclipse.smarthome.binding.onewire.test/src/test/java/org/eclipse/smarthome/binding/onewire/internal/TemperatureSensorThingHandlerTest.java
  extensions/binding/org.eclipse.smarthome.binding.onewire/src/main/java/org/eclipse/smarthome/binding/onewire/internal/handler/OwBaseThingHandler.java
Labels: Binding-OneWire, bug

#6733 [OWM] Added support for UV Index API
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/config/config.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/i18n/openweathermap.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/i18n/openweathermap_de.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/i18n/openweathermap_fr.properties
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/thing/channel-types.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/ESH-INF/thing/thing-types.xml
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/README.md
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/OpenWeatherMapBindingConstants.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/config/OpenWeatherMapUVIndexConfiguration.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/connection/OpenWeatherMapConnection.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/discovery/OpenWeatherMapDiscoveryService.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/factory/OpenWeatherMapHandlerFactory.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/AbstractOpenWeatherMapHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/handler/OpenWeatherMapUVIndexHandler.java
  extensions/binding/org.eclipse.smarthome.binding.openweathermap/src/main/java/org/eclipse/smarthome/binding/openweathermap/internal/model/OpenWeatherMapJsonUVIndexData.java
Labels: Binding-OpenWeatherMap
